.callout {
  text-align: center;
  margin: 2rem auto;
}

.content {
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-style: italic;
  max-width: 80%;
  margin: 0 auto;
}

.content > * {
  margin: 0;
}
